<div class="container mt-5">
  <div class="card p-4 card-cs">
    <div class="row">
      <div class="col-md-8 pl-4">
        <div class="row">
          <p>Shop</p>
        </div>
        <div class="row">
          <h4>{{ shopItem.name }}</h4>
        </div>
        <div class="row mt-5">
          <p>{{ shopItem.description }}</p>
        </div>
        <div class="row mt-5">
          <p class="f-12">Price</p>
        </div>
        <div class="row mt-2">
          <svg
            viewBox="0 0 16 16"
            width="16px"
            color="text"
            xmlns="http://www.w3.org/2000/svg"
            class="sc-bdnxRM iTcRLV"
          >
            <circle cx="8" cy="8" r="8" fill="#F0B90B"></circle>
            <path
              d="M5.01656 8.00006L3.79256 9.23256L2.56006 8.00006L3.79256 6.76756L5.01656 8.00006ZM8.00006 5.01656L10.1081 7.12456L11.3406 5.89206L9.23256 3.79256L8.00006 2.56006L6.76756 3.79256L4.66806 5.89206L5.90056 7.12456L8.00006 5.01656ZM12.2076 6.76756L10.9836 8.00006L12.2161 9.23256L13.4401 8.00006L12.2076 6.76756ZM8.00006 10.9836L5.89206 8.87556L4.66806 10.1081L6.77606 12.2161L8.00006 13.4401L9.23256 12.2076L11.3406 10.0996L10.1081 8.87556L8.00006 10.9836ZM8.00006 9.23256L9.23256 8.00006L8.00006 6.76756L6.76756 8.00006L8.00006 9.23256Z"
              fill="#FFFDFA"
            ></path>
          </svg>
          <p class="p-0 m-0 f-15">
            <span class="ml-2">
              {{ getPrice(shopItem.currency, shopItem.mrPrice) }}</span
            >
            <span class="f-12 mr-2 ml-2"></span>
          </p>
        </div>
        <div class="row mt-3">
          <button class="btn btn-buy" (click)="openModal()">Purchase</button>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{{ shopItem.imageURI }}" class="img-size" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- ist model  -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content main-model">
      <div class="modal-body px-3 sa">
        <div class="row bg-one p-4">
          <div class="col-6">
            <h5>Review</h5>
          </div>
          <div class="col-6 right">
            <button class="btn btn-cross" (click)="onCloseHandled()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- 2nd row  -->
        <div class="row mt-5">
          <div class="col-md-8">
            <div class="row">
              <div class="col-4">
                <img src="{{ shopItem.imageURI }}" class="img-sizes2" alt="" />
              </div>
              <div class="col-8">
                <p class="p-0 m-0 f-s">Shop</p>
                <h5>{{ shopItem.name }}</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd part  -->
        <div class="row centers">
          <div class="card p-4 card-cs">
            <div class="row">
              <div class="col-4">
                <p>Count</p>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="buy-count-input"
                      (keyup)="
                        getBuyPrice(
                          shopItem.currency,
                          shopItem.mrPrice,
                          buyItemCount
                        )
                      "
                      [value]="buyItemCount"
                      (input)="buyItemCount = $event.target.value"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p>Total Payment</p>
              </div>
              <div class="col-8 right">
                <p class="p-0 m-0">
                  <span class="mr-2">
                    <svg
                      viewBox="0 0 16 16"
                      width="16px"
                      color="text"
                      xmlns="http://www.w3.org/2000/svg"
                      class="sc-bdnxRM iTcRLV"
                    >
                      <circle cx="8" cy="8" r="8" fill="#F0B90B"></circle>
                      <path
                        d="M5.01656 8.00006L3.79256 9.23256L2.56006 8.00006L3.79256 6.76756L5.01656 8.00006ZM8.00006 5.01656L10.1081 7.12456L11.3406 5.89206L9.23256 3.79256L8.00006 2.56006L6.76756 3.79256L4.66806 5.89206L5.90056 7.12456L8.00006 5.01656ZM12.2076 6.76756L10.9836 8.00006L12.2161 9.23256L13.4401 8.00006L12.2076 6.76756ZM8.00006 10.9836L5.89206 8.87556L4.66806 10.1081L6.77606 12.2161L8.00006 13.4401L9.23256 12.2076L11.3406 10.0996L10.1081 8.87556L8.00006 10.9836ZM8.00006 9.23256L9.23256 8.00006L8.00006 6.76756L6.76756 8.00006L8.00006 9.23256Z"
                        fill="#FFFDFA"
                      ></path>
                    </svg>
                  </span>
                  {{ buyTotalPrice }}
                </p>
              </div>
            </div>

          </div>
        </div>

        <!-- 4th part  -->
        <!-- <div class="row mt-5">
           <p class="px-4">Convert between BNB and WBNB for free:
            Convert</p>
         </div> -->
        <!-- 5th part  -->
        <div class="row mt-3 center p-3">
           <div class="col-10 mt-3">
             <button class="btn btn-primary form-control" (click)="clickPurchaseItem()">Purchase</button>
           </div>
           <!-- <div class="col-10 mt-3">
             <button class="btn btn-checkout">Get BNB or WBNB</button>
           </div> -->
          </div>
      </div>
    </div>
  </div>
</div>

<div class="loader_overlap" *ngIf="isLoader">
  <div class="loader"></div>
</div>