<div class="investment_area">
  <div class="">
    <div class="container  justify-content-between align-items-center">
      <div class="row">


        <div class="col-md-5 float-right text-box mt-4">
          <h4>LAPLATA</h4>
          <p>Your one-stop guide to all things crypto. Whether you're a rookie trying to understand mining or a veteran
            looking to develop a trading strategy, we've got you covered</p>
          <button class="btn primary-btn">START POST</button>
        </div>
        <div class="col-md-1 mt-4">

        </div>
        <div class="col-md-6 mt-4">
          <div class="graph_card">
            <div class="graph_content_box">

              <div class="row p-s">
                <img src="/assets/images/feature.png" class="img-size" alt="">
              </div>
              <div class="row mt-3">
                <p class="p-sr">Play to Earn</p>
              </div>
              <div class="row ">
                <p class="p-sr">DAPP Project -EL Silver</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
