<div class="tournament_area">
    <div class="container justify-content-between align-items-center my-5">
      <div class="row">
      <div class="col-md-6 mt-4">
        <h4>Tournaments updated monthly</h4>
        <p class="py-md-4">Create your team to reach the top of the competition by shooting a shot at winning to gain real silver.</p>
        <button class="btn primary-btn" type="submit">Check Out All Tournaments</button>
      </div>
      <div class="col-md-6 mt-4">
        <div class="card">
          <div>
            <div class="slick_img_area">
              <img class="img-size" src="assets/images/live_featured.png" alt="">
              <div class="slick_badges">
                <span class="live_badge"><span class="white_dot"></span>Live</span>
                <span class="featured_badge">Featured</span>
              </div>
            </div>
            <div class="card_upcoming_tour  justify-content-between px-4">
              <div class="row">


              <div class="col-10">
                <p class="card-title m-0">Esports tournament</p>
                <div class="d-flex time_watch">
                  <div class="time_left">
                    <img src="assets/images/time_left.png" alt="">
                    <div class="time">1d 4h 22m left</div>
                  </div>
                  <div class="time_left ml-3">
                    <img src="assets/images/watch_hour.png" alt="">
                    <div class="time">1840 watching</div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="d-flex justify-content-around m-0">
                  <div class="social_icon mr-2"><img alt="" src="assets/images/youtube_icon.png"></div>
                  <div class="social_icon"><img alt="" src="assets/images/chat_icon.png"></div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
