<div class="game_mode_area text-center">
  <div class="container">
    <h2>YOU CAN CHOOSE FROM THIS THREE GAME MODES</h2>
    <div class="row justify-content-between game_mode_points">
      <div>
        <div class="img-container">
          <img class="icon" src="assets/images/sword.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Ranked Solo Mode</h5>
          <span>Randomly form a team in EL-SILVER users and compete with other teams for silver points.</span>
          <button class="btn secondary-btn" type="submit">Play Now</button>
        </div>
      </div>
      <div>
        <div class="img-container">
          <img class="icon" src="assets/images/team-leader.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">5v5 Mode</h5>
          <span>Form a team with your friends and compete with other teams to earn silver points.</span>
          <button class="btn secondary-btn" type="submit">Play Now</button>
        </div>
      </div>
      <div>
        <div class="img-container">
          <img class="icon" src="assets/images/trophy.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Tournament Mode</h5>
          <span>Participate in competitions hosted by EL-SILVER to earn more silver points and aim for LAPLATA pouring as reward!</span>
          <button class="btn secondary-btn" type="submit">Play Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
