<ng-template #content let-modal>

  <div class="modal-body">

    <div class="buy_transaction_area">
      <div class="container">
        <h2 class="p1">Update Password</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="password">Old Password</label>
            <div class="Input_with_icon">
              <input id="oldpassword" [type]="isOldPasswordShow ? 'text': 'password'"  appNoSpace placeholder="......" class="form-control" formControlName="oldPassword">
              <i class="fas fa-user"></i>
              <div class="show_btn"(click)="onOldPasswordShowHideClick()" >{{isOldPasswordShow ? 'Hide': 'Show'}}</div>
              <errors [control]="f.oldPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>

          <div class="form-group">
            <label for="password">New Password</label>
            <div class="Input_with_icon">
              <input id="newpassword" [type]="isNewPasswordShow ? 'text': 'password'"  appNoSpace placeholder="......" class="form-control" formControlName="newPassword">
              <i class="fas fa-user"></i>
              <div class="show_btn"(click)="onNewPasswordShowHideClick()" >{{isNewPasswordShow ? 'Hide': 'Show'}}</div>
              <errors [control]="f.newPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Confirm Password</label>
            <div class="Input_with_icon">
              <input id="confirmpassword" [type]="isConfirmPasswordShow ? 'text': 'password'"  appNoSpace placeholder="......" class="form-control" formControlName="confirmPassword">
              <i class="fas fa-user"></i>
              <div class="show_btn"(click)="onConfirmPasswordShowHideClick()" >{{isConfirmPasswordShow ? 'Hide': 'Show'}}</div>
              <errors [control]="f.confirmPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>

          <div>
            <submit [isLoading]="isLoading"   [label]="'Update Password'"  classes="btn primary-btn w-100 mt-2"></submit>
          </div>

        </form>


      </div>
    </div>

  </div>
</ng-template>
