<!-- <div *ngIf="isFooter" class="footer_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img class="pb-md-5" src="assets/pics/logo.png" alt="Card image cap">
        <div class="d-flex pt-2 pt-md-5">
          <div class="w-50 mr-2">
            <a class="btn primary-btn w-100" routerLink="/auth/signup" role="button">Get Started</a>
          </div>
          <div class="w-50">
            <button type="button" class="btn btn-outline-info w-100" routerLink="/auth/login">Log In</button>
          </div>
        </div>
      </div>

      <div class="col-lg-5 d-md-flex justify-content-between mx-md-5">
        <nav class="nav flex-column">
          <h5 class="text-capitalize text-grey">Sitemap</h5>
          <a class="nav-link active" routerLink="">About</a>
          <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
          <a class="nav-link" routerLink="/trade">Trading</a>
          <a class="nav-link" routerLink="">Legal</a>
          <a class="nav-link" routerLink="">Contact</a>
        </nav>
        <nav class="nav flex-column">
          <h5 class="text-capitalize text-grey">Game Modes</h5>
          <a class="nav-link active" routerLink="/match/setup/solo">Ranked Solo</a>
          <a class="nav-link" routerLink="/match/setup/5v5">5v5</a>
          <a class="nav-link" routerLink="/tournament">Tournament</a>
        </nav>
        <nav class="nav flex-column">
          <h5 class="text-capitalize text-grey">Socials</h5>
          <a class="nav-link active" href="javascript:void(0)">Facebook</a>
          <a class="nav-link" href="javascript:void(0)">Instagram</a>
          <a class="nav-link" href="javascript:void(0)">Twitter</a>
        </nav>
      </div>

      <form class="form-group col-lg-3">
        <h5 class="text-capitalize text-grey">Sign up for LOL newsletter today!</h5>
        <div class="input-group input_area p-0">
          <input type="text" class="form-control" placeholder="Type your email here..."
            aria-label="Amount (to the nearest dollar)">
          <div class="input-group-prepend">
            <span class=""><img alt="" src="assets/pics/email_sign.png" /></span>
          </div>
        </div>

      </form>

    </div>
    <p class="text-capitalize text-grey text-center mt-5 copy_right">© Copyright LOL SILVER 2020. All rights reserved.
    </p>
  </div>
</div> -->


<section class="pt-5 back-gr-drk">
  <div class="container">
      <div class="row p-3 align-items-center">
          <div class="col-md-8 col-sm-6">
            <a class="navbar-brand"><img alt="" src="assets/images/logo_elsilver.png" routerLink="/" width="168px" /></a>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="d-flex justify-content-end">
                  <a class="text-white" href="https://t.me/lpltmining" title="Telegram"><i
                          class="fab fa-telegram mr-3"></i></a>
                  <!-- <a class="text-white" href="javascript;void(0)" title="Instagram"><i
                          class="fab fa-instagram mr-3"></i></a> -->
                  <a class="text-white" href="https://twitter.com" title="Twitter"><i
                          class="fab fa-twitter mr-3"></i></a>
                  <!-- <a class="text-white" href="javascript;void(0)" title="Youtube"><i
                          class="fab fa-youtube-square mr-3"></i></a> -->
              </div>
          </div>
      </div>
      <div class="row ml-1 ">
          <div class="col-lg-2 col-6">
              <h5 class="mb-3 text-white">Sitemap</h5>
              <ul class="list-unstyled">
                  <li><a class="text-white" href="http://laplata.me/">Laplata Official</a></li>
                  <li><a class="text-white" href="/leaderboard">Leaderboards</a></li>
                  <li><a class="text-white" href="/trade">Silver Trade</a></li>
                  <li><a class="text-white" href="/mode/lolchallenge">Lol Challenge</a></li>
                  <!-- <li><a class="text-white" href="javascript:void(0)">Contact</a></li> -->
              </ul>

          </div>
          <div class="col-lg-2 col-6">
              <h5 class="mb-3 text-white">Game Modes</h5>
              <ul class="list-unstyled">
                  <li><a class="text-white" href="javascript:void(0)">Ranked Solo</a></li>
                  <li><a class="text-white" href="javascript:void(0)">5v5</a></li>
                  <li><a class="text-white" href="javascript:void(0)">Tournament</a></li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-10">
              <h5 class="mb-3 text-white">Powered by</h5>
              <div class="d-flex justify-content-between">
                <a href="javascript:void(0)"><img src="assets/pics/lplt with logo gray.png" style="height: 42px;" alt=""></a>
                  <a href="javascript:void(0)"><img src="assets/pics/eth.png" alt=""></a>
                  <a href="javascript:void(0)"><img src="assets/pics/image.png" style="height: 42px;" alt=""></a>
                  <!-- <a href="javascript:void(0)"><img src="assets/pics/Vector (3).png" alt=""></a>
                  <a href="javascript:void(0)"><img src="assets/pics/Vector (4).png" alt=""></a> -->
              </div>
              <!-- <div class="d-flex mt-4 justify-content-around">
                  <button class="btn btn-warning"> <img src="assets/pics/apple icon.png" class="mr-2" alt="">
                      Download</button>
                  <button class="btn btn-warning "> <img src="assets/pics/google play.png" class="mr-2" alt="">
                      Download</button>
              </div> -->
          </div>
      </div>
  </div>

</section>
<footer class="py-5 back-gr-drk">
  <div class="text-center text-white">
      <span>© Copyright LOL SILVER 2020. All rights reserved.</span>
  </div>
</footer>
