<div class="my-5">
  <div class="mineslider my-5">

    <div class="banner">
      <div class="content">
        <div class="left_part">
          <h2>Try out the LOL Challenge!</h2>
          <p>
            Mine LAPLATA while playing League of Legends.<br />
            Just Start Lol Challenge During Your Gameplay. Be LPLT's Contributors easily!
          </p>
          <a href="/mode/lolchallenge"
            >Go to LOL Challenges<img src="../../../assets/images/next.svg"
          /></a>
        </div>
        <div class="right_part">
        <img src="/assets/images/moon.svg" alt="">
        </div>
      </div>
    </div>

  </div>
</div>
