.card {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    height: 100%;
}

.card-body .row {
    align-items: baseline;
    margin-bottom: 10px;
}

::ng-deep .card-header button {
    width: 100%;
}

::ng-deep .accordion>.card {
    background-color: inherit;
}

#chart {
    padding: 0;
    max-width: 650px;
}

.chart-container{
    width: 60%;
    margin: 0 auto;
}

.chart-container > div:not(#id) p:nth-child(2) {
    font-size: 28px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.chart-container > div:not(#id) p:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
}

.chart-container > div:not(#id) p:nth-child(3) {
    font-size: 18px;
    line-height: 22px;
}

.card-body > div {
    padding: 6px 0;
}

.card{
    height: 270px;
}

.orange_text {
    color: #FF9933 !important;
}

.tab-buttons .nav-tabs {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    border-bottom: 0;
}

.tab-buttons .nav-tabs li {
    margin: 0;
}

.tab-buttons .nav-tabs li a {
    padding: 7px 20px;
    font-size: 14px;
    border: 0;
}

.tab-buttons .nav-tabs li a:hover {
    margin: 0;
    border: 0;
    padding: 7px 20px;
    font-size: 14px;
}

.tab-buttons .nav-tabs li a.active {
    background: rgba(255, 153, 51, 0.4);
    border-radius: 8px;
    border: 0;
    color: white;
}
@media screen and (max-width:600px) {
  .mobile-recent {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .chart-container{
    width: 100%;
    margin: 0 auto;
}
}
