<!--
<div class="accordion_area d-md-block d-none">
  <!-- Accordion
  <div class="accordion_area">
    <ngb-accordion [closeOthers]="true" activeIds="static-0">

      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="victory">VICTORY</span>
                </th>

                <th scope="col" style="width:10%" class="date_held">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="defeat">DEFEAT</span>
                </th>

                <th scope="col" style="width:10%" class="date_held">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-3">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="defeat">DEFEAT</span>
                </th>
                
                <th scope="col" style="width: 10%;">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-4">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="victory">VICTORY</span>
                </th>
                
                <th scope="col" style="width: 10%;">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-4">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="victory">VICTORY</span>
                </th>
                
                <th scope="col" style="width: 10%;">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="static-4">
        <ng-template ngbPanelTitle>
          <table>
            <thead>
              <tr>
                <th scope="col" style="width:5%">
                  <img width="50px" alt="" src="assets/images/profile_img.png" />
                </th>

                <th scope="col" style="width:5%">
                  <div class="tour_col">
                    <strong>5v5 mode</strong>
                    <span>MID</span>
                  </div>
                </th>

                <th scope="col" style="width:5%;vertical-align: baseline;padding-top: 6px;"><span>12th Dec</span></th>

                <th scope="col" style="width:15%" class="teams_ranked">
                  <span class="defeat">DEFEAT</span>
                </th>
                
                <th scope="col" style="width: 10%;">
                  <span>KDA</span>
                  <strong>6 / 4 / 12</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Play time</span>
                  <strong>35m 17s</strong>
                </th>

                <th scope="col" style="width:10%">
                  <span>Silver earned</span>
                  <strong>1241g</strong>
                </th>

                <th scope="col" style="width:10%">
                  <img alt="" src="assets/images/team_members.png" />
                  <img alt="" src="assets/images/team_members.png" />
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
-->