::ng-deep .modal-content{
    border-radius: 8px;
    border: 0;
  }
  .modal-body{
    background: radial-gradient(50% 128% at 0% 0%, rgba(17, 17, 17, 0.87) 0%, #111111 100%);
    padding: 0;
    border-radius: 8px;
  }

  .modes_player{
    font-size: 18px;
    line-height: 22px;
  }

  .buy_transaction_area .p1{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
  }
  .buy_transaction_area{
      overflow: hidden;
      background: rgba(255, 255, 255, 0.08);
      padding: 50px 0;
  }
  .icon{
      max-width:50px;
  }
  .buy_transaction_area span{
      display: block;
      color:#28A5FF;;
  
  }
  .decline{
    padding: .6rem 3rem;
    color: #FF9933;
    border: 1px solid #FF9933;  
  }
  .decline:hover{
    padding: .6rem 3rem;
    color: #fff;
    background-color: #FF9933;
    border: 1px solid #FF9933;  
  }

  
  