<div class="community_area">
    <h4>exclusive platform for players without borders</h4>
    <p>ALL GAME HISTORY on EL SILVER will be filtered and advanced for EI SILVER's internal BIG DATA. This will lead you to let down bars between real world and game world.</p>

    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <img src="assets/images/times.png" alt="times">
            <span class="blue_text">no extra effort</span>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/images/check.png" alt="check">
            <span class="orange_text">enjoy mining laplata</span>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/images/times.png" alt="times">
            <span class="blue_text">no installs</span>
        </div>
    </div>
</div>
