<div class="row">
  <div class="col-md-12 mb-3">
    <div class="d-flex align-items-center">
      <div class="post">
        <div class="p1">Trade Requirements</div>
      </div>
      <div class="ml-auto">
        <a href="javascript:void(0)" [routerLink]="['/trade/post/2']"   class="btn btn_primary">Create a Trade Posting <img src="assets/images/Right arrow.svg" alt=""></a>
      </div>
    </div>
  </div>
  <div class="col-md-9 mb-4">
    <div class="card mb-4">
      <div class="alert_card">
        <img class="mr-3" src="assets/images/bx_bxs-megaphone.svg" alt="">
        <div class="p1">Before creating a trade please go through our <a href="javascript:void(0)" class="text-blue">Terms of Service</a>
           and the <a href="javascript:void(0)" class="text-blue">Online Sale</a>  guide.</div>
      </div>
    </div>

    <div class="card_steps">
      <ul>
        <li>
          <div class="d-flex">
            <div class="p1">Rules and requirements while posting a trade</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">For your post  to display you need to have Silver in your wallet.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">The user who posts a trade is charged 1% of the total trade volume for each completed trade.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">Once a trade is opened the price is final, except when there is a clear mistake in the pricing.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">You are not allowed to buy or sell Silver on behalf of someone else (brokering).</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">You may only send and receive payment using accounts that are registered in your own name. Third party payments are not allowed.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">You must provide your payment details in the advertisement or in the trade chat.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">All communication must happen on the LoL Silver platform.</div>
          </div>
        </li>
        <li>
          <div class="d-flex">
            <div class="step_img"><img src="assets/images/round-green.svg" alt=""></div>
            <div class="p2">Payment methods marked High Risk have a significant risk of fraud. Be careful and always ID verify your trading partners when using high risk payment methods.</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
