<div class="profile_page">
  <app-challenges></app-challenges>

  <div class="profile_rank_cards">
    <div class="row my-4">
      <div class="col-md-6">
        <app-world-ranking></app-world-ranking>
      </div>
      <div class="col-md-6">
        <app-other-stats></app-other-stats>
      </div>
    </div>
  </div>
  <div class="profile_rank_cards wine_rate">
    <div class="row">
      <div class="col-md-6 mt-2">
        <app-win-rate></app-win-rate>
      </div>

     <div class="col-md-6 mt-2">
        <app-win-rate-position></app-win-rate-position>
      </div>
    </div>
  </div>

  <app-tournaments-table></app-tournaments-table>
</div>
