.custom-table .head {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem 1rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  color: rgba(0, 0, 0, 0.6);
  background:rgba(224,224,224,255);
}

.custom-table .body {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem 1rem;
  font-size: 16px;
  text-align: center;
  align-items: center;
  color: #1D1D1D;
  background: rgb(236, 236, 236);
}
