<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center my-2">
      <h3 class="card-title text-blue-400">Add User</h3>
      <hr class="hr-blue">
    </div>
  </div>
  <div class="content">
    <div class="row justify-content-center">

      <div class="col-lg-8 w-md-100">
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">


          <div class="form-group row text-left">
            <label class="col-lg-4  col-form-label font-weight-semibold">Old Password</label>
            <div class="col-lg-6">
              <input type="password" class="form-control" name="password" formControlName="oldPassword" placeholder="Old Password" required="">
              <errors [control]="f.oldPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>
          <div class="form-group row text-left">
            <label class="col-lg-4  col-form-label font-weight-semibold">New Password</label>
            <div class="col-lg-6">
              <input type="password" class="form-control" name="password" formControlName="newPassword" placeholder="New Password" required="">
              <errors [control]="f.newPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>

          <div class="form-group row text-left" >
            <label class="col-lg-4 col-form-label font-weight-semibold" >Confirm Password</label>
             <div class="col-lg-6">
              <input type="password" class="form-control" name="password" formControlName="confirmPassword" placeholder="Confirm Password" required="">
              <errors [control]="f.confirmPassword" [isSubmit]="isSubmit"></errors>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button type="button" [routerLink]="['/dashboard']"  class="btn btn-dark mr-3 mb-3" >Cancel</button>
      <button type="submit" class="btn btn-success mb-3" (click)="onSubmit()">Save</button>
    </div>
  </div>
</div>
