<ng-template #content let-modal>

  <div class="modal-body">
    <div class="buy_transaction_area text-center">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-5 text-left">
            <h1 class="font-weight-600">your registration has <br> been initiated.</h1>
            <p class="text-gray f-20 my-5">All team members must pay the entry fee as soon as possible to complete the registration and ensure a spot in the tournament.</p>
            <button class="btn primary-btn mb-2" (click)="onUpcomingClick()">See my upcoming tournaments</button>

          </div>
          <div class="col-md-6">
            <div class="card-1">
            <p class="f-32 font-weight-500 text-blue text-left mb-5"> {{tournament.name}}</p>
              <div class="row text-left">
                <div class="col-md-6">
                  <div class="text-gray f-15 text-uppercase mb-2">date</div>
                  <div class="text-gold f-20">
                    {{tournament.startDate | date: 'mediumDate'}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-gray f-15 text-uppercase mb-2">time</div>
                  <div class="text-gold f-20">
                    {{tournament.startDate | date: 'shortTime'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</ng-template>
