::ng-deep .modal-content{
  border-radius: 8px;
  border: 0;
}
.modal-body{
  background: #292929;
  padding: 0;
  border-radius: 8px;
}

.buy_transaction_area{
    overflow: hidden;
    background: #292929;
    padding: 90px 50px;
    border-radius: 8px;
}

.card-1{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 45px 25px;
}
.f-32{
  font-size: 32px;
}
