
<div class="flexbox">
  <div class="login_card">
    <h3> Enter your password to reset </h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">password</label>
        <div class="Input_with_icon">
          <input [type]="isPasswordShow ? 'text': 'password'"  placeholder="......" class="form-control" formControlName="password" appNoSpace>
          <i class="fas fa-lock"></i>
          <div class="show_btn" (click)="onPasswordShowHideClick()" >{{isPasswordShow ? 'Hide': 'Show'}}</div>
          <errors [control]="f.password" [isSubmit]="isSubmit"></errors>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <div class="Input_with_icon">
          <input [type]="isConfirmPasswordShow ? 'text': 'password'"  placeholder="......" class="form-control" formControlName="confirmPassword" appNoSpace>
          <i class="fas fa-lock"></i>
          <div class="show_btn" (click)="onConfirmPasswordShowHideClick()" >{{isConfirmPasswordShow ? 'Hide': 'Show'}}</div>
          <errors [control]="f.confirmPassword" [isSubmit]="isSubmit"></errors>
        </div>
      </div>

      <div>
        <button class="btn primary-btn w-100 mt-2" type="submit">Reset Password</button>
      </div>
    </form>
  </div>
</div>


