<div class="flexbox">
  <div class="login_card">
    <h3 *ngIf="type === 1">Enter Email for OTP</h3>
    <h3 *ngIf="type === 2">Enter Phone for OTP</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="error == 1" class="alert alert-danger" role="alert">
        E-mail Doesn't Exist
      </div>
      <div *ngIf="error == 2" class="alert alert-danger" role="alert">
        Phone Doesn't Exist
      </div>

      <div *ngIf="f.email" class="form-group">
        <label for="email">Email</label>
        <div class="Input_with_icon">
          <input
            id="email"
            type="text"
            appNoSpace
            placeholder="someone@something.com"
            class="form-control"
            formControlName="email"
          />
          <i class="fas fa-user"></i>
          <errors [control]="f.email" [isSubmit]="isSubmit"></errors>
        </div>
      </div>
      <div *ngIf="f.phone" class="form-group">
        <ngx-intl-tel-input
          [cssClass]="'custom'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.SouthKorea"
          [maxLength]="15"
          [tooltipField]="TooltipLabel.Name"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [numberFormat]="PhoneNumberFormat.International"
          name="phone"
          formControlName="phone"
        >
        </ngx-intl-tel-input>
        <errors [control]="f.phone" [isSubmit]="isSubmit"></errors>
      </div>
      <a *ngIf="type === 1" (click)="onTypeClick(2)" href="javascript:void(0)"
        >Use Phone instead</a
      >
      <a *ngIf="type === 2" (click)="onTypeClick(1)" href="javascript:void(0)"
        >Use Email instead</a
      >

      <div>
        <submit
          [isLoading]="isLoading"
          [label]="'Send OTP Request'"
          classes="btn primary-btn w-100 mt-2"
        ></submit>
      </div>
    </form>
  </div>
</div>
