<div class="investment_area">
  <div class="container">
    <div class="bread_crumb">
      <span>Home > </span><span>Game Modes > </span> <span (click)='goBack()'>Tournament > </span> <span
        class="final">Search Tournaments
      </span>
    </div>
    <div class="row justify-content-center py-md-5">
      <div class="col-md-12 text-center">
        <h1 class="heading1">Tournaments</h1>
      </div>
      <div (keyup.enter)='result=null;get()' class="col-md-7">
        <div class="form-group">
          <div class="Input_with_icon">
            <input type="text" [(ngModel)]='query.searchQuery' placeholder="Search tournament name"
              class="form-control">
            <div (click)='result=null;get()' class="show_btn"><img src="assets/images/email_sign.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--New Slider-->
  <div class="live_videos_area mb-md-5 mb-3">
    <div class="container">
      <div class="d-flex align-items-center mb-3 mb-md-4">
        <p>Search Result for :'{{query.searchQuery}}'</p>
        <div class="icons ml-auto mr-md-4">
          <img class="mr-3" src="assets/images/mode_icon_1.png" alt="">
          <img src="assets/images/collapse_filter_icon.png" alt="">
        </div>
      </div>

      <div *ngIf="this.result && this.result?.docs?.length == 0" class="text-center mb-5">
        <h4 class="heading font-weight-normal mb-4">No result found</h4>
        <a href="javascript:void(0)" (click)='goBack()' class="btn primary-btn">Back to Tournaments</a>
      </div>


      <div class="d-flex flex-wrap">
        <div *ngFor="let item of result?.docs" class="card_width">
          <div class="slick_img_area"><img [src]="item?.coverImage | image:'1' " alt="" class="w-100">
            <div class="slick_badges"><span class="featured_badge small"> {{item?.startDate | date:'MMM dd'}} </span>
            </div>
          </div>
          <div class="card_upcoming_tour d-flex justify-content-between px-3">
            <a class="card-title m-0 f-16" href="javacript:void(0)" (click)='detail(item?._id)'> {{item?.name}}
            </a><button type="submit" class="btn secondary-btn px-3 py-1">Join</button>
          </div>
        </div>

      </div>
    </div>

    <app-loader *ngIf="isLoader"></app-loader>


    <!-- Pagination -->
    <div class="clearfix"></div>
    <div class="row d-block text-center w-100 mb-3">
      <div class="col-md-12">
        <a href="javascript:void(0)" (click)='pageChange()'
          *ngIf="!isLoader && ( result?.totalDocs > this.page * this.limit )" class="see_more">See More</a>
      </div>
    </div>
    <!-- Pagination / End -->
  </div>
  <!-- close -->
</div>