<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center my-2">
            <h3 class="card-title text-blue-400">Voucher List</h3>
            <hr class="hr-blue">

        </div>

    </div>


    <div class="row mt-2">
        <div class="col-lg-12">
            <div class="card">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <div class="datatable-header">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                      <a href="javascript:void(0)" class="btn btn-primary" [routerLink]="['/voucher/generate']">Generate</a>
                    </div>


                    <div class="dataTables_length" id="DataTables_Table_0_length"><label><span>Show:</span>
                      <select [(ngModel)]="limit" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="select2-hidden-accessible"
                          data-select2-id="1" tabindex="-1" aria-hidden="true">
                          <option [value]="10" data-select2-id="3">10</option>
                          <option [value]="25">25</option>
                          <option [value]="50">50</option>
                          <option [value]="100">100</option>
                        </select>
                        <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2"
                          style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox"
                              aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                              aria-labelledby="select2-DataTables_Table_0_length-ks-container"><span class="select2-selection__rendered"
                                id="select2-DataTables_Table_0_length-ks-container" role="textbox" aria-readonly="true"
                                title="10">10</span><span class="select2-selection__arrow" role="presentation"><b
                                  role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span></label></div>
                  </div>
                  <div *ngIf="!isLoader &&  result " class="datatable-scroll-wrap">
                    <div class="table-responsive ">
                      <table class="table custom-padding">
                        <thead>
                          <tr class="table-border-solid">
                            <th>Voucher Code</th>
                            <th>Issued By</th>
                            <th>Issued On</th>
                            <th>Valid Thu </th>
                            <th>Silver </th>
                            <th>Used By</th>
                            <th>Status </th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let voucher of result.docs; let i = index;">
                            <td>{{voucher.voucherCode}}</td>

                            <td> {{voucher.createdBy.fullName}} </td>

                            <td>{{voucher.createdAt | date: 'dd.MM.yy'}}</td>

                            <td>{{voucher.validThru | date: 'dd-MM-yy'}}</td>

                            <td>{{voucher.silver}}</td>

                            <td>{{voucher.usedBy ? voucher.usedBy.fullName: '-'}}</td>

                            <td>
                              <span [ngClass]="isActive(voucher.validThru) ? 'badge-success' : 'badge-danger'"  class="badge py-1  d-block">{{isActive(voucher.validThru) ? 'Active': 'Inavctive'}}</span></td>

                            <td class="p-0">
                              <a href="javascript:void(0)" [routerLink]="['/voucher',voucher._id]"  class="px-1"><i  class="fas fa-pencil-alt"></i></a>
                              <a href="javascript:void(0)" (click)="onDeleteClick(voucher._id)" class="px-1"><i  class="fas fa-trash"></i></a>



                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="!isLoader &&  result " class="datatable-footer">
                    <ngb-pagination
                    class="d-flex justify-content-center"
                        [(page)]="result.page"
                        [pageSize]="result.limit"
                        [collectionSize]="result.totalDocs" (pageChange)="onPageChange($event)" ></ngb-pagination>
                  </div>
                  <app-loader *ngIf="isLoader" ></app-loader>
                </div>
            </div>
        </div>

    </div>
</div>
