<div class="row mx-2">
  <div class="col-md-12 my-4">



      <div class="liquid_card">
        <ul>
<li class="random">
  <div   class="d-flex flex-column align-items-center justify-content-center">
    <div class="header_img">
      <img height="60" src="assets/images/add-icon.png" alt="">
    </div>
  </div>
</li>
<li class="random">
  <div   class="d-flex flex-column align-items-center justify-content-center">
    <div class="header_img">
      <img height="60" src="assets/images/add-icon.png" alt="">
    </div>
  </div>
</li>
          <li  class="active">
            <div  class="header_img">
              <rounded-image [src]="currentUser.image" alt=""></rounded-image>
              <div class="img_name">@{{currentUser.username}}</div>
              <div class="text-blue text-uppercase small font-weight-600">Level 1</div>
              <div class="d-flex justify-content-center">
                <div  class="wrapper" >
                  <span class="main-icon" >
                    <span  *ngIf="currentUserType1 === -1"class="bottom_icon1" (click)="onClickUserType1()">
                      <i class="fas fa-plus"></i>
                    </span>
                    <img class="" height="40px" *ngIf="currentUserType1 !== -1" [src]="currentUserType1 | playerTypeIcon" (click)="onClickUserType1()" alt="">

                    <div class="" [ngClass]="{'main-round': isUserCollapsed1}">
                      <div class="round">
                        <div class="icon1"><img src="assets/images/top-position1.svg" alt="" (click)="onClickUser1(1)"></div>
                        <div class="icon2"><img src="assets/images/top-position2.svg" alt="" (click)="onClickUser1(2)"></div>
                        <div class="icon3"><img src="assets/images/top-position3.svg" alt="" (click)="onClickUser1(3)"></div>
                        <div class="icon4"><img src="assets/images/top-position4.svg" alt="" (click)="onClickUser1(4)"></div>
                        <div class="icon5"><img src="assets/images/top-position5.svg" alt="" (click)="onClickUser1(5)"></div>
                      </div>
                      <app-overlay *ngIf="isUserCollapsed1" (overlayClick)="onClickUserType1()"></app-overlay>
                    </div>


                </span>
                <span class="main-icon ml-3">
                  <span  *ngIf="currentUserType2 === -1"class="bottom_icon1" (click)="onClickUserType2()">
                    <i class="fas fa-plus"></i>
                  </span>
                  <img class="" height="40px" *ngIf="currentUserType2 !== -1" [src]="currentUserType2 | playerTypeIcon" (click)="onClickUserType2()" alt="">

                  <div [ngClass]="{'main-round1': isUserCollapsed2}">
                    <div class="round">
                      <div class="icon1"><img src="assets/images/top-position1.svg" alt="" (click)="onClickUser2(1)"></div>
                      <div class="icon2"><img src="assets/images/top-position2.svg" alt="" (click)="onClickUser2(2)"></div>
                      <div class="icon3"><img src="assets/images/top-position3.svg" alt="" (click)="onClickUser2(3)"></div>
                      <div class="icon4"><img src="assets/images/top-position4.svg" alt="" (click)="onClickUser2(4)"></div>
                      <div class="icon5"><img src="assets/images/top-position5.svg" alt="" (click)="onClickUser2(5)"></div>
                    </div>
                    <app-overlay *ngIf="isUserCollapsed2" (overlayClick)="onClickUserType2()"></app-overlay>
                  </div>



              </span>
                </div>

              </div>
          </div>

          </li>
          <li class="random">
            <div   class="d-flex flex-column align-items-center justify-content-center">
              <div class="header_img">
                <img height="60" src="assets/images/add-icon.png" alt="">
              </div>
            </div>
          </li><li class="random">
            <div   class="d-flex flex-column align-items-center justify-content-center">
              <div class="header_img">
                <img height="60" src="assets/images/add-icon.png" alt="">
              </div>
            </div>
          </li>

        </ul>
      </div>
      <p class="text-center">
        <span class="mr-3"><span class="text-gray">Top </span><span class="text-gold">44%</span></span>
        <span class="mr-3"><span class="text-gray">Mid </span><span class="text-gold">60%</span></span>
        <span class="mr-3"><span class="text-gray">Ad Carry </span><span class="text-gold">26%</span></span>
        <span class="mr-3"><span class="text-gray">Jungle </span><span class="text-gold">12%</span></span>
        <span class="mr-3"><span class="text-gray">Support </span><span class="text-gold">7%</span></span>

      </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-4 text-center">
    <button [disabled]="isStartMatchButtonDisable || isStartMatching" (click)="onClickStartMatching()"  class="btn primary-btn w-100">{{ isStartMatching ? 'Matching...':'Start Matching'}}</button>
  </div>
</div>
<app-match-found (accept)="onAcceptClick($event)" (decline)="onClickStartMatching()" ></app-match-found>
