.text-gray{
  color: rgba(0, 0, 0, 0.7);
}
/* .container{
  margin: 10px 60px;
} */
.form-control
{
  width: 85%;
  color: rgba(156,156,156,255) !important;
  background-color: rgba(242,242,242,255) !important;
  border-radius: 7px;
}
.form-control-feedback{
  color: white !important;
  background-color: rgba(40,165,255,255);
  line-height: 36px;
  border-radius: 5px;
  margin: 0px -20px;
}
.form-control-feedback i{
  color: white !important;
}
.challenge_links{
  padding: 0px;
}
.challenge_links li{
  display: inline-block;
  vertical-align: top;
  padding: 15px 50px 15px 15px;
  margin-right: 15px;
  border-radius: 8px;
  background: white;
  font-weight: 500;
}
.challenge_links li span{
  display: block;
}
.challenge_links li strong{
  display: block;
}
.challenge_links li i{
  padding-left:40px;
  cursor: pointer;
}

/* Select area */


::ng-deep ng-select{
width: auto;
}
.filter_by span{
margin-right: 15px;
}

::ng-deep .ng-select-container{
border-radius: 15px!important;
padding: 0 10px!important;
}


/** New Accordion */

::ng-deep .btn-link:hover {
  text-decoration: none;
}

::ng-deep .btn {
  text-align: left;
}

::ng-deep .card-header button {
  width: 100%;
  border: 0;
}

::ng-deep .accordion>.card {
  background-color: white;
  border: 0;
}

::ng-deep .accordion>.card {
  background-color: rgb(236, 236, 236);
  border-radius: 8px !important;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
}

::ng-deep .accordion>.card>.card-header {
  background-color: rgb(236, 236, 236);;
  border-radius: 8px;
  margin: 0px;
  padding: 0;
}

::ng-deep .accordion>.card>.card-body {
  background: rgb(236, 236, 236);
  border-radius: 8px;
}

.svg-dropdown svg{
fill: rgba(0, 0, 0, 0.4);
height: 30px;
width: 30px;
}
.custom-table .head {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem 1rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  color: rgba(0, 0, 0, 0.6);
  background:rgba(224,224,224,255);
}
.custom-table .body {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem 1rem;
  font-size: 14px;
  /* font-weight: 500; */
  text-align: center;
  align-items: center;
  color: #1D1D1D;
  background: rgb(236, 236, 236);
}
.final{
  color: #28A5FF;
}
.defeat{
  color: #FF9933;
}
.custom-table .body .custom-td {
  padding: .5rem 0rem;
}
.custom-table .custom-body {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem 1rem;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  padding: 15px !important;
  border-radius: 8px;
  margin: 7px;
  color: #1D1D1D;
}
.total-record{
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3.0rem!important;
  font-weight: 700;
  display: block;
  position: relative;
}
.f-20{
  font-size: 20px !important;
}
.f-14{
  font-size: 14px !important;
}

.history__not__Found-msg {
  text-align: center;
  font-size: 18px;
  color: #28A5FF !important;
}
