
.form-group {
  margin-bottom: .9rem;
}
.dark{
  background-color: #e6e6e6 !important;
  color: black !important;
}
.bg-img {

  background-color: black;
  background-size: 100% 100%;
  color: white !important;
}
@media only screen and (max-width:1400px){
  .bg-img {

background-color: black;
    background-size: 100% 100%;
    color: white !important;
  }
}
@media only screen and (max-width:1200px){
  .bg-img {
  background-color: black;
    background-size: 100% 100%;
    color: white !important;
  }
}
@media only screen and (max-width:1080px){
  .bg-img {
  background-color: black;
    background-size: 100% 100%;
    color: white !important;
  }
}
@media only screen and (max-width:767px){
  .bg-img {
  background-color: black;
    background-size: 100% 100%;
    color: white !important;
  }
}
