<div class="bg-img">
  <div class="main-div">
    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">
        <div class="logo-fansafe justify-content-center text-center pt-3">
         <a href="javascript:void(0)" [routerLink]="['/auth']" > <img src="assets/images/logo.png" height="60" alt=""></a>
        </div>
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

          <!-- Password recovery form -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form" action="index.html">
            <div class="card mb-0 card-opacity">
              <div class="card-body">
                <div class="text-center mb-3">
                  <img src="assets/images/PW Recovery.png" height="90" alt="" class="mb-3 mt-1">
                  <h5 class="mb-0 text-dark">Password recovery</h5>
                  <span class="d-block text-muted">We'll send you instructions in email</span>
                </div>
                <div *ngIf="error == 1" class="alert alert-danger" role="alert">
                  E-mail Doesn't Exist
                </div>
                <div class="form-group form-group-feedback form-group-feedback-left">
                  <input type="text" formControlName="email" class="form-control" name="username" placeholder="Enter your email" required="">
                  <div class="form-control-feedback">
                    <i class="fa fa-at text-muted"></i>
                  </div>
                  <errors [control]="f.email" [isSubmit]="isSubmit"></errors>
                </div>

                <button type="submit"  class="btn bg-blue-400 btn-block"><i
                    class="icon-spinner11 mr-2"></i> Reset password</button>
              </div>
            </div>
          </form>
          <!-- /password recovery form -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->


  </div>
</div>
