.bg-link {
  background: #262626;
  color: white;
  border-radius: 13px;
  font-size: 12px;
  padding: 5px 10px;

}
.img-size {
  border-radius: 16px;
  width: 100%;
}

.btn-beginner {
  background: #CCF2E4;
  color: black;
  font-size: 12px;
  border-radius: 8px;
  padding: 3px 10px;

}
.dot {
  background-color: rgb(2, 192, 118);
    border-radius: 50%;
    margin-right: 8px;
    height: 6px;
    width: 6px;
    margin-top: 6px;
}.center {
  justify-content: center;
}
