<div class="container">
  <div class="row center">
    <div class="col-md-7">
      <div class="row mt-4">
        <span class="bg-link ml-3">Trading</span>
        <span class="bg-link ml-3">Enthereum</span>
        <span class="bg-link ml-3">DeFi</span>
      </div>
      <div class="row mt-4">
        <img src="/assets/images/cat.png" class="img-size" alt="">
      </div>
      <div class="row mt-4">
        <span>Home</span> <span class="ml-3">></span> <span class="ml-3">Article</span> <span class="ml-3">></span> <span
          class="ml-3">What is Shiba Inu (SHIB) ?</span>
      </div>
      <div class="row mt-4">
        <h1>What is Shiba Inu (SHIB) ?</h1>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="row ">
            <div class="col-3">
              <button class="btn btn-beginner">
                <div class="d-flex">
                  <div class="dot"></div>
                  <span>Beignner</span>
                </div>
              </button>
            </div>
            <div class="col-6">
              <p>Updated Nov B 2021</p>
            </div>
            <div class="col-3">
              <i class="fas fa-clock"></i><span class="ml-2">6m</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-4">
        <h5>TL;DR</h5>
      </div>
      <div class="row mt-4">
        <p>
          Shiba Inu (SHIB) is a dog-themed meme cryptocurrency named after a Japanese dog breed. It was created in 2020 by
          an anonymous developer named Ryoshi, who designed SHIB to be an alternative to Dogecoin (DOGE) on the Ethereum
          blockchain.
        </p>
      </div>
      <div class="row mt-4">
        <p>
          SHIB is an ERC-20 token with a decentralized exchange called ShibaSwap. The SHIB roadmap and ecosystem also
          features an NFT art incubator called Shiba Artist Incubator, 10,000 “Shiboshi” NFTs, and an NFT game Shiboshi
          Game.
        </p>
      </div>
      <div class="row mt-4">
        <p>
          Shiba Inu had an initial circulating supply of 1 quadrillion tokens. Ryoshi locked 50% of the token in Uniswap to
          create liquidity, and sent the other 50% to Ethereum co-founder Vitalik Buterin’s wallet. However, Vitalik decided
          to burn 90% of the coins and donate the remaining 10% to charity.
        </p>
      </div>
      <div class="row mt-4">
        <p>
          You can buy and sell SHIB on crypto exchanges like Binance with different trading pairs, such as SHIB/USDT and
          SHIB/DOGE.
        </p>
      </div>
      <div class="row mt-4">
        <h2>Introduction</h2>
      </div>
      <div class="row mt-4">
        <p>For pet-loving crypto traders, 2021 has been particularly exciting with the boom of dog-themed cryptocurrencies.
          Shiba Inu (SHIB) was one of the rising coins in the market that saw a significant price increase. Dubbed as
          “Dogecoin killer”, the SHIB coin has become a social media hit. As of November 2021, SHIB is amongst the top
          cryptocurrencies by market cap. It’s ranked #11 on CoinMarketCap, which puts it close to its competitor, DOGE.</p>
      </div>
      <div class="row mt-4">
        <img src="/assets/images/bicon.png" class="img-size" alt="">
      </div>
      <div class="row mt-4">
        <h2>What is Shiba Inu (SHIB)?</h2>
      </div>
      <div class="row mt-4">
        <p>Shiba Inu (SHIB) is a meme cryptocurrency running on the Ethereum blockchain. It was created in August 2020 by an
          anonymous developer named Ryoshi, whose identity is as mysterious as Bitcoin’s creator Satoshi Nakamoto. As the
          name suggests, SHIB was inspired by the Japanese dog breed Shiba Inu.</p>
      </div>
      <div class="row mt-4">
        <p>SHIB had a total supply of 1 quadrillion. When it was first launched, Ryoshi locked 50% of the total supply in
          Uniswap to provide liquidity. Uniswap is an automated market maker (AMM) protocol on the Ethereum blockchain and
          is one of the most successful projects in the decentralized finance (DeFi) space. The other 500 trillion SHIB were
          sent to Ethereum co-founder Vitalik Buterin, who decided to burn 90% and donate the remaining to the India
          COVID-19 relief fund.</p>
      </div>
      <div class="row mt-4">
        <h2>The Shiba Inu Ecosystem</h2>
      </div>
      <div class="row mt-4">
        <p>To keep up with the dog theme, Shiba Inu uses canine terms in its ecosystem. According to the “WoofPaper”
          (whitepaper), Shiba Inu is a community-driven project focused on creating a decentralized cryptocurrency. </p>
      </div>
      <div class="row mt-4">
        <p>The SHIB ecosystem consists of a decentralized exchange called ShibaSwap. You can trade SHIB and other
          cryptocurrencies on ShibaSwap, “dig” into the Puppy Pools to provide liquidity, or “bury” your tokens into smart
          contracts to earn interest with SHIB and two other ERC-20 tokens, Doge Killer (LEASH) and Bone ShibaSwap (BONE).
        </p>
      </div>
      <div class="row mt-4">
        <p>LEASH is the second token created by Shiba Inu and it’s also on ShibaSwap. With a circulating supply of 107,646
          tokens, LEASH was initially used as a rebase token to track Dogecoin’s price. However, SHIB developers decided to
          change LEASH to an ERC-20 token. LEASH holders can stake their tokens in the liquidity pool and earn xLEASH as
          rewards. </p>
      </div>
      <div class="row mt-4">
        <p>BONE is a governance token. It has a supply of 250,000,000 tokens. In the future, it will allow the ShibArmy (a
          nickname for its community) to vote on upcoming proposals on Doggy DAO. </p>
      </div>
      <div class="row mt-4">
        <p>Shiba Inu is also proposing a non-fungible token (NFT) art incubator called Shiba Artist Incubator. It invites
          fellow dog-inspired artists around the world to bring their Shiba Inus into the NFT market, featuring artworks
          like painting, photography, and digital rendering </p>
      </div>
      <div class="row mt-4">
        <p>In October 2021, the SHIB team launched 10,000 “Shiboshi” NFTs on the Ethereum blockchain and announced an
          upcoming NFT game called Shiboshi Game. The announcement included a new token-burning mechanism as well. Whenever
          the Shiboshi holders want to change the name of their NFTs, they need to pay a fee of USD 100 in SHIB. The fees
          will be burned (i.e., sent to the SHIB burn wallet). </p>
      </div>
      <div class="row mt-4">
        <h2>What are meme coins? </h2>
      </div>
      <div class="row mt-4">
        <p>Dogecoin and Shiba Inu, along with hundreds of other meme cryptocurrencies, are known as meme coins or meme
          tokens. For example, Dogecoin and Shiba Inu were inspired by memes of an adorable Shiba Inu dog, while PepeCoin
          (MEME) was inspired by Pepe the Frog, a popular anthropomorphic frog meme. </p>
      </div>
      <div class="row mt-4">
        <p>Most meme coins are created with limited utility or use cases and are more short-lived than the mainstream
          cryptocurrencies like bitcoin (BTC) and ether (ETH). Therefore, a large number of meme coins cannot be traded on
          major trading platforms. Also, the price of meme coins is generally low due to their huge supply. Even the popular
          ones like SHIB and DOGE only cost a fraction of a cent. </p>
      </div>
      <div class="row mt-4">
        <p>Meme coins have been taking back seats to the larger market capitalization cryptocurrencies, but they started to
          rise following the “meme stock” trend of GameStop (GME) and AMC Entertainment (AMC) in 2021. In January 2021, a
          Reddit group named SatoshiStreetBets considered DOGE the crypto equivalent of GME and joked about pumping its
          price up. As DOGE price took off, traders have turned their attention to the DOGE and other meme coins, looking to
          achieve gains off the rally. DOGE price was driven up to an all-time high of 73 cents in May 2021, with over
          2,000% increase in just five days. </p>
      </div>
      <div class="row mt-4">
        <p>Still, it’s important to keep in mind that cryptocurrency trading and investing carries high financial risk. Meme
          coins can be super volatile, so you should always DYOR and never invest what you cannot afford to lose. </p>
      </div>
      <div class="row mt-4">
        <h2>Why is SHIB so popular? </h2>
      </div>
      <div class="row mt-4">
        <p>During the global pandemic in 2020, the cryptocurrency market crashed and then exploded as retail investors
          flocked to digital assets like bitcoin (BTC) and Ether (ETH) to hedge against inflation. As mentioned, the stock
          market saga has led to the rise of meme coins. Some attribute SHIB’s popularity to social media influence,
          especially from Tesla CEO Elon Musk. After he publicly joked about Dogecoin on TV in May 2021 and made it slump in
          price, SHIB and other meme coins had taken advantage of the rising popularity of meme tokens. As of November 2021,
          SHIB price has increased more than 60,000,000% since January. </p>
      </div>
      <div class="row mt-4">
        <p>
          One of the reasons for SHIB to stand out from its fellow puppy coins is its Shiboshi NFTs and game. Catching on to
          the hype of the NFT markets, the 10,000 Shiboshis sold out in under 35 minutes. Shiba Inu launched its own NFTs
          using the ShibaSwap platform. As the owners name their Shiboshis and trigger the SHIB token burn, along with the
          development of the Shiboshi NFT game, the popularity of Shiba Inu could continue to grow. </p>
      </div>
    </div>
  </div>
  <app-trading class="mt-4"></app-trading>
</div>
