<div class="tournament-bracket tournament-bracket--rounded">
  <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
    <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
    <ul class="tournament-bracket__list">
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
    <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
    <ul class="tournament-bracket__list">
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="tournament-bracket__round tournament-bracket__round--semifinals">
    <h3 class="tournament-bracket__round-title">Semifinals</h3>
    <ul class="tournament-bracket__list">
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="tournament-bracket__round tournament-bracket__round--semifinals">
    <h3 class="tournament-bracket__round-title">Semi Test finals</h3>
    <ul class="tournament-bracket__list">
      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>

      <li class="tournament-bracket__item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country">
                  <app-bracket-team></app-bracket-team>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="tournament-bracket__round tournament-bracket__round--bronze">
    <h3 class="tournament-bracket__round-title">Bronze medal game</h3>
    <ul class="tournament-bracket__list">

      <li class="tournament-bracket__item last-item">
        <div class="tournament-bracket__match" tabindex="0">
          <table class="tournament-bracket__table">
            <tbody class="tournament-bracket__content">
              <tr class="tournament-bracket__team tournament-bracket__team--winner">
                <td class="tournament-bracket__country position-relative">
                  <app-bracket-team></app-bracket-team>
                  <span class="tournament-bracket__medal position-absolute fa fa-trophy" aria-label="Bronze medal"> &nbsp; Winner</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
  <div class="tournament-bracket__round tournament-bracket__round--gold">

  </div>
</div>
