<div class="bg-img">
  <div class="main-div">
    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">
        <div class="logo-fansafe justify-content-center text-center pt-3">
          <a href="javascript:void(0)" [routerLink]="['/auth']" > <img src="assets/images/logo.png" height="60" alt=""></a>
        </div>
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

          <!-- Password recovery form -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form" action="index.html">
            <div class="card mb-0 card-opacity">
              <div class="card-body">
                <div class="text-center mb-3">
                  <img src="../../../assets/images/PW Recovery.png" height="90" alt="" class="mb-3 mt-1">
                  <h5 class="mb-0 text-dark">Set Password</h5>
                  <span class="d-block text-muted">Please enter your new password and confirm it</span>
                </div>
                <div class="form-group form-group-feedback form-group-feedback-left">
                  <input formControlName="password" type="password" class="form-control" name="password" placeholder="New password" required="">
                  <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                  </div>
                  <errors [control]="f.password" [isSubmit]="isSubmit"></errors>
                </div>
                <div class="form-group form-group-feedback form-group-feedback-left">
                  <input formControlName="confirmPassword" type="password" class="form-control" name="password" placeholder="Confirm new password" required="">
                  <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                  </div>
                  <errors [control]="f.confirmPassword" [isSubmit]="isSubmit"></errors>
                </div>

                <button type="submit"   class="btn bg-blue-400 btn-block"><i
                    class="icon-spinner11 mr-2"></i> Confirm</button>
              </div>
            </div>
          </form>
          <!-- /password recovery form -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->


  </div>
</div>
