<div class="card">
    <div class="card-body">
      <p class="f-20">LAPLATA Activity</p>
      <div class="challenge_line">
        <div class="d-flex challenge_links mt-4 mb-4">
          <div class="left-container">
            <div class="activity-block mr-15">
              <span class="font-weight-500 text-gray">Total Earnings</span>
              <span class="font-weight-600">{{ totalLaplataEarned?totalLaplataEarned.toFixed(4):0 }}</span>
            </div>
            <div class="activity-block mr-15">
              <span class="font-weight-500 text-gray">Avg Earnings/ Day</span>
              <span class="font-weight-600">{{ averagePerday?averagePerday.toFixed(4):0  }}</span>
            </div>
            <div class="activity-block mr-15">
              <span class="font-weight-500 text-gray">Earnings in {{lastMonthName}}</span>
              <span class="font-weight-600">{{ earnedLastMonth?earnedLastMonth.toFixed(4):0 }}</span>
            </div>
          </div>
          <div class="right-container mr-15">
            <div class="activity-block">
              <span class="font-weight-500 text-gray">Amt. Withdrawn</span>
              <span class="font-weight-600">{{ withdrwan?withdrwan.toFixed(4):0 }}</span>
            </div>
            <div class="activity-block mr-15">
              <span class="font-weight-500 text-gray">Available For Withdraw</span>
              <span class="font-weight-600">{{ availableForWithdrawal?availableForWithdrawal.toFixed(4):0 }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
    <div class="d-flex history-link">
      <div class="pointer" routerLink="/mode/lolchallenge">
        <span class="text-gold">View full LAPLATA History </span>
        <img class="ml-3" src="assets/images/arrow_gold.png" alt="arrow">
      </div>
    </div>
  </div>

</div>
