<div class="matches_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h4>List of Matches</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Tortor montes purus platea bibendum neque
          elementum.
        </p>
      </div>
      <div class="col-md-12">
        <!-- <img width="100%" src="assets/images/matches_tree.png" alt="Delhi Metro"> -->
        <app-bracket></app-bracket>
      </div>
    </div>
  </div>
</div>
